*{
    box-sizing: border-box; 
    
}

body {
    max-width: 500px;
    margin: 40px auto; 
    padding: 0 20px; 
    text-align: center; 
    background-color: lightgreen;
}

label {
    display: block; 
}
input{
    width: 100%
}

button {
    margin-top: 20px; 
    padding: 10px 20px;
}

#message{
    margin-top: 25px; 
}